.btn-llavemx{
  background: #fff;
  border-radius: 3px;
  border: solid 2px $brand-primary;
  color: $brand-primary !important;
  font-size: 1.12rem;
  padding: 10px 25px;
  font-weight: 500;

  &:hover{
    background: $brand-primary;
    color: #fff !important;

    h5 {
      color: #fff !important;
    }
  }
}

.title-llavemx{
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 5px;
  color: #545454;
} 

.separador-llavemx {
    width: 100%;
    border-top: 1px solid $gray;
    margin-bottom: $spacer;

    &.limite {
        max-width: 560px;
    }

    span {
        display: block;
        width: 35px;
        height: 5px;
        background: $oro;
    }
}

.fondo-llaveMX{
    position: relative;
    overflow: hidden;
    background-image: url('../../public/images/fondo_llaveMX.svg');
    background-size: cover; 
    background-color: rgba(255, 255, 255, 0.6);

}

.container-llaveMX {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font: bold noto-sans !important;
    max-width: 1170px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 130px auto 140px;
    
}
.container-llaveMX .left-section {
    flex: 1;
    padding: 0px 30px 30px 0px;
    align-items: center;
}

.container-llaveMX .boxLogin {
    width: 554px;
    
}
.container-llaveMX .left-section h1 {
    display: flex;
    font-size: 40px;
    color: #a57f2c;
    font-family: "Noto Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-variation-settings: "wdth" 100 !important;
    margin-bottom: 20px;
    line-height: normal;
}

.container-llaveMX .right-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
    -moz-box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    background-color: #fff;
    padding: 32px;
}
.container-llaveMX .right-section img {
    height: 56px;
    /* min-width: 38px; */
    margin-top: 0px;
    margin-bottom: 24px;
}

.container-llaveMX .left-section img {
    height: 65px;
}

.container-llaveMX .login-button, .container-llaveMX .create-button {
    display: inherit;
    padding: 6px;
    margin: 0px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-variation-settings: "wdth" 100 !important;
    text-align: center;
    text-decoration: none;
}

.container-llaveMX .login-button {
    background-color: #611232;
    color: white;
    width: 100%;
}

.container-llaveMX .acciones{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif !important;
}

.container-llaveMX .col-6{
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}

.container-llaveMX .create-button {
    background-color: white;
    color: #611232;
    border: 1px solid #611232 !important;
    border-radius: 5px;
    width: 100%;
    margin: 0px;
}

@media (max-width: 1040px) {
    .container-llaveMX{
        display: block;
        max-width: 643px;
        margin: 85px auto 85px;
    }
    .container-llaveMX .boxLogin{
        max-width: 554px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 640px) {
    .container-llaveMX{
        margin: 55px auto 55px;
    }

    .container-llaveMX .left-section h1{
        font-size: 35px;
    }

    .container-llaveMX .col-6{
        width: 100%;
        text-align: center;
    }
    .container-llaveMX .login-button{
        margin-bottom: 24px;
    }

    .container-llaveMX .login-button, .container-llaveMX .create-button{
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .container-llaveMX .left-section h1{
        font-size: 25px;
    }
    .container-llaveMX .login-button, .container-llaveMX .create-button{
        width: 100%;
    }
}